.first-line{
    background-color: rgb(146, 242, 242);
   padding: 5px;
    text-align: center;
}

/* header / logo title */
.header{
    padding: 60px;
    text-align: center;
    background-color: rgb(1, 17, 12);
    color:white ;

}

/* style the navigation bar links */
.navbar{
 background-color: rgb(90, 10, 10);
    display: flex;
}

.navbar a{
    color: white;
    padding: 14px 20px;
}

/* change color on hover */

.navbar a:hover{
background-color: aliceblue;
color: black;
}

/* colomn container */