/* opacity range: 0 to 1... less value, blurr image */



img{
    opacity: 0.7;
}

/* hover effect- in hover effect when arrow lies on img then img get clear and when move away img get blurred */

img:hover{
    opacity: 1;
    
}


.verticle-line{
    border-right: 4px solid green;
    height: 610px;
    width: 410px;
    top: 0px;
    position: absolute;
}

  


/* grouping of element selector */ we can attach common css properties to group of  element
     
   table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    height: 30px;
    width: 60px;
   }             
   td{
    background-color: rgb(191, 147, 231);
   }
   table{
    background-color: rgb(103, 18, 18);
   } 
   
   /* horizontal line */
   .listHorizontal {
    justify-content: space-around;
    color: rgb(8, 87, 87);
    text-transform: uppercase;
    list-style: none;
   }

   .listHorizontal li{
    display: inline-block;
    padding: 5px 5px;
   }
   

  